./aac
./android-clat
./android-mock
./ant-glob
./antlr
./apache-harmony
./apache-http
./apache-qp
./apache-xml
./bison
./blktrace
./bluetooth
./bouncycastle
./bsdiff
./busybox
./bzip2
./ceres-solver
./checkpolicy
./chromium
./chromium-libpac
./chromium_org
./chromium-trace
./clang
./compiler-rt
./dexmaker
./dhcpcd
./dnsmasq
./doclava
./droiddriver
./dropbear
./e2fsprogs
./easymock
./ebtables
./eigen
./elfutils
./embunit
./emma
./esd
./exfat
./expat
./eyes-free
./f2fs-tools
./fdlibm
./ffmpeg
./flac
./freetype
./fsck_msdos
./fuse
./ganymed-ssh2
./gcc-demangle
./genext2fs
./giflib
./google
./google-diff-match-patch
./gtest
./guava
./hamcrest
./harfbuzz
./harfbuzz_ng
./hyphenation
./icu4c
./iproute2
./ipsec-tools
./iptables
./iputils
./jack
./javasqlite
./javassist
./jdiff
./jhead
./jmdns
./jmonkeyengine
./jpeg
./jsilver
./jsr305
./junit
./kernel-headers
./libcap-ng
./libexif
./libffi
./libgsm
./liblzf
./libmtp
./libnfc-nci
./libnfc-nxp
./libnl-headers
./libogg
./libpcap
./libphonenumber
./libpng
./libppp
./libselinux
./libsepol
./libssh2
./libusb
./libusb-compat
./libvorbis
./libvpx
./libxml2
./libxslt
./libyuv
./linux-tools-perf
./littlemock
./llvm
./lzma
./lzo
./markdown
./mdnsresponder
./mksh
./mockito
./mockwebserver
./mp4parser
./mtpd
./naver-fonts
./netcat
./netperf
./neven
./nist-pkits
./nist-sip
./noto-fonts
./oauth
./objenesis
./okhttp
./opencv
./openfst
./openssh
./openssl
./open-vcdiff
./openvpn
./oprofile
./pixman
./ppp
./proguard
./protobuf
./qrngd
./regex-re2
./replicaisland
./robolectric
./safe-iop
./scrypt
./sepolicy
./sfntly
./sil-fonts
./skia
./smack
./smali
./sonivox
./speex
./sqlite
./srec
./srtp
./stagefright-plugins
./stlport
./strace
./svox
./tagsoup
./tcpdump
./timezonepicker-support
./tinyalsa
./tinycompress
./tinyxml
./tinyxml2
./tremolo
./v8
./valgrind
./webp
./webrtc
./wpa_supplicant_8
./xmlwriter
./xmp_toolkit
./yaffs2
./zlib
./zxing
